[Desktop Entry]
Name=TleenX3
Comment=Tlen.pl client for GTK+2
Comment[pl]=Klient Tlen.pl dla GTK+2
Exec=tleenx3 
Icon=/usr/share/tleenx3/pixmaps/tleenx.png
Terminal=false
Type=Application
Categories=GTK;Network;InstantMessaging;
# vi: encoding=utf-8
